{% extends 'admin/admin_base.html' %}

{% block title %}Админка{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center mb-5">Ваши Данные</h2>
        </div>
    </div>
    <a href="{% url 'admin_create_news' %}">создать новый новости</a>

    <!-- Прокручиваемая галерея/контент -->
    <div class="row">
        {% for all in all_data %}
        <div class="col-md-4 mb-4">
            <div class="card shadow-lg rounded-3 bg-light p-4" data-aos="fade-up" data-aos-duration="1000">
                <h3 class="card-title text-primary"><a href="{% url 'admin_detail_news' all.id %}">{{ all.title|truncatechars:20 }}</a></h3>
                <p class="card-text text-muted">{{ all.content|truncatechars:50 }}</p>
                <div class="card-footer text-muted">
                    <small>Добавлено: {{ all.data_create|date:"d-m-Y" }}</small>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}

{% block extra_scripts %}
<!-- Подключение для анимаций AOS (Animate On Scroll) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
<script>
    AOS.init(); // Инициализация анимаций
</script>
{% endblock %}


